---
layout: default
---
<article>
    <header>
        <span class="post-meta-text">
            <time datetime="{{ post.date | date: "%B %-d, %Y" }}">
                {{ page.date | date: "%B %-d, %Y" }}
            </time><em> by </em><a href="/about/">{{ site.author.name }}</a>
        </span>

        <h1>
            <div>{{ page.title }}</div>
        </h1>

        <span class="post-meta-text">
            {% for tag in page.tags %}
            <a href="/tags/#{{ tag | slugify }}">#{{ tag }}</a>
            {% endfor %}
        </span>

        <h2 class="page-subtitle">{{ page.description }}</h2>
    </header>
    <section class="post-content">
        {{ content }}
    </section>
    <footer class="author">
        {% include author.html %}
    </footer>
</article>
