---
layout: default
---
<article>
    <header>
        <span class="post-meta-text">
            <time datetime="{{ post.date | date: "%B %-d, %Y" }}">
                {{ page.date | date: "%B %-d, %Y" }}
            </time><em> by </em><a href="/about/">{{ site.author.name }}</a>
        </span>

        <h1>
            <div>{{ page.title }}</div>
        </h1>

        <span class="post-meta-text">
            {% for tag in page.tags %}
            <a href="/tags/#{{ tag | slugify }}">#{{ tag }}</a>
            {% endfor %}
        </span>

        <h2 class="page-subtitle">{{ page.description }}</h2>
    </header>
    <section class="post-content">
        {{ content }}
    </section>
    <section class="comments">
        <script src="https://giscus.app/client.js"
            data-repo="smaspe/smaspe.github.io"
            data-repo-id="MDEwOlJlcG9zaXRvcnk0ODU1NTQyNQ=="
            data-category="Announcements"
            data-category-id="DIC_kwDOAuTloc4CweKU"
            data-mapping="title"
            data-strict="1"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="light"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
        </script>
    </section>
    <footer class="author">
        {% include author.html %}
    </footer>
</article>
